$light   = 'HPSimplified-Light', sans-serif
$regular = 'HPSimplified-Regular', sans-serif
$bold    = 'HPSimplified-Bold', sans-serif
$color   = #0096D6
$Tcenter = translate(-50% , -50%)
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
relative()
	position relative
	top 0
	left 0
	right 0
	bottom 0
transform()
	-webkit-transform $Tcenter
    -moz-transform $Tcenter
    -ms-transform $Tcenter
    -o-transform $Tcenter
    transform $Tcenter
scale()
	-webkit-transform scale(1)
    -moz-transform scale(1)
    -ms-transform scale(1)
    -o-transform scale(1)
    transform scale(1)
flipCard()
	-moz-backface-visibility hidden
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transition -webkit-transform 500ms
	-moz-transition -moz-transform 500ms
	-o-transition -o-transform 500ms
	transition transform 500ms
	border-radius 5px
	position absolute
flipCardFront()
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
flipCardBack()
	-webkit-transform rotateY(-180deg)
	-moz-transform rotateY(-180deg)
	-o-transform rotateY(-180deg)
	transform rotateY(-180deg)
	z-index 900
flipCardFrontHover()
	-webkit-transform rotateY(180deg)
	-moz-transform rotateY(180deg)
	-o-transform rotateY(180deg)
	transform rotateY(180deg)
	-webkit-transform perspective(600) rotateY(180deg)
	-moz-transform perspective(600) rotateY(180deg)
	-o-transform perspective(600) rotateY(180deg)
	transform perspective(600) rotateY(180deg)
flipCardBackHover()
	-webkit-transform rotateY(0)
	-moz-transform rotateY(0)
	-o-transform rotateY(0)
	transform rotateY(0)
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
	z-index 950
body
	margin 0
	padding 0
	font-family $regular
	color #000000
	background-color #FFFFFF
.section
	position relative
p
	margin 0
.js-flex
	flexCenter()
.js-header
	position fixed
	top 0
	width 100%
	background-color $color
	z-index 5
	padding 10px 25px
	color #FFFFFF
	flexCenter()
	img
		width 100%
		max-width 41px
	.js-header--left
		flexCenter()
		width 100%
		justify-content flex-start
		p
			font-family $bold
			margin-left 10px
			font-size 16px
			line-height 16px
	.js-header--right
		flexCenter()
		width 100%
		justify-content flex-end
		flex-wrap wrap
		a
			text-decoration none
			color #FFFFFF
			font-size 16px
			line-height 16px
			cursor pointer
			&.link-middle
				padding 0 5px
				margin 0 5px
				border-right 1px solid #FFFFFF
				border-left 1px solid #FFFFFF
.js-fondo
	background url(../img/fondo/fondo-fase.jpg) no-repeat center center
	background-size cover
	position relative
	right 0
	left 0
	bottom 0
	top 0
	height 250px
	.js-logo
		flexCenter()
		justify-content center
		img
			transitionMaxWidth()
			position relative
			z-index 10
			top 0
			width 100%
			max-width 160px
			margin-top 30px
	&.concurso
		background url(../img/fondo/fondo-login.jpg) no-repeat center center
		background-size cover
		height 800px
		margin-top 60px
		color #FFFFFF
		text-align center
		padding 0 30px
		.js-logo
			img
				max-width 236px
				top -25px
				margin 0
		.js-contenido--concurso
			margin 25px 0
			p
				font-size 30px
				line-height 32px
				text-shadow 2px 2px 7px rgba(0, 0, 0, 0.54)
			img
				margin-top 20px
				width 100%
				max-width 800px
		.js-contenido--ganadores
			max-width 500px
			margin auto
			p
				font-size 30px
				line-height 32px
				span
					font-family $bold
.js-link
	flexCenter()
	justify-content center
	a
		font-family $bold
		color $color !important
		padding 5px 15px
		text-decoration none
		&.active
			border-bottom 3px solid $color
.js-partidos
	flexCenter()
	transitionBgColor()
	padding 10px 0
	border-bottom 1px solid #000000
	position relative
	p
		margin 0
		line-height 18px
	&.js-bgcolor
		background-color #D0D0D0
		pointer-events: none
	.js-partidos__fecha
		width 100%
		max-width 200px
		p
			margin 0
	.js-partidos__versus
		flexCenter()
		width 100%
		max-width 525px
		justify-content center
		p
			width 100%
			max-width 20px
			text-align center
		.js-partido__versus--flag
			flexCenter()
			width 100%
			max-width 255px
			padding 0 10px
			&:nth-child(1)
				justify-content flex-end
			&:nth-child(2)
				justify-content flex-start
			img
				padding 0 10px
			.mdl-radio
				font-weight 100
				flexCenter()
				.mdl-radio__label
					line-height 18px
					text-align left
				&.js-right
					padding-left 0
					padding-right 24px
					.mdl-radio__outer-circle
						right 0
						left initial
					.mdl-radio__inner-circle
						right 4px
						left inherit
					.mdl-radio__ripple-container
						right -13px
						left inherit
					.mdl-radio__label
						text-align right
	.js-partidos__empate
		width 100%
		max-width 120px
		text-align center
	.js-partidos__score
		width 100%
		max-width 120px
		text-align center
		small
			font-size 16px
	.js-partidos__puntaje
		width 100%
		max-width 95px
		text-align center
		span
			font-family $bold
			font-size 16px
.js-partidos--disabled
	pointer-events none
	opacity .3			
.js-fondo__imagen
	background url(../img/fondo/fondo-imagen.jpg) no-repeat center center
	background-size cover
	absolute()
	&:AFTER
		content ''
		background-color #000000
		opacity .2
		absolute()
.js-score
	background-color #87898B
	color #FFFFFF
	flexCenter()
	.js-score__user
		flexCenter()
		width 100%
		justify-content flex-end
		padding 15px 20px
		border-right 2px solid #FFFFFF
	.js-score__monto
		flexCenter()
		width 100%
		justify-content flex-start
		padding 15px 20px
	p
		flexCenter()
		line-height 16px
		font-size 16px
	span
		font-size 30px
		margin 0 8px
		font-family $bold
.js-window
	absolute()
	flexCenter()
	transitionOpacity()
	width 100%
	height 100vh
	z-index 5
.js-container
	transitionMaxWidth()
	width 100%
	max-width 1100px
	height 100%
	margin auto
	position relative
	padding 20px
.js-container--negative
	margin -50px auto 20px auto
.js-container--title
	padding 10px 0 0 0
	h2
		padding 0 30px
		margin 0
.js-input
	margin 5px 0
	padding 0 5px
	.form-control
		border-radius 0
		height 42px
		padding 6px 10px
		font-size 15px
		font-family $regular
.mdl-radio__inner-circle
	background #4983B6
.mdl-radio__ripple-container 
	.mdl-ripple
		background #4983B6
.mdl-radio
	font-weight 100
	&.is-checked 
		.mdl-radio__outer-circle
			border 2px solid #4983B6
.js-carousel
	flexCenter()
	justify-content flex-start
	position relative
	width 100%
	max-width 675px
	.table-responsive
		width 100%
		max-width 205px
		margin auto
		border 1px solid $color
		border-radius 10px
		table
			margin 0
.js-button
	background-color $color
	color #FFFFFF
	text-transform initial
	height 30px
	line-height 20px
	font-family $bold
	max-width 120px
	width 100%
	&:hover
		background-color $color
.js-user
	flexCenter()
	justify-content flex-end
	width 100%
	padding 5px 10px
	p
		margin 0
		padding 0 10px
		margin-right 10px
		border-right 1px solid #FFFFFF
		line-height 18px
		color #FFFFFF
	a
		font-family $bold
		cursor pointer
		color #FFFFFF
.title-fase
	background-color #CCCCCC
	padding 10px
	margin 40px 0 15px 0
	p
		margin 0
		font-family $bold
.js-facturas
	text-align center
	padding 30px 0
	h2
		margin 0
		font-size 40px
		line-height 36px
	a
		background-color #D7410B !important
		text-transform initial
		color #FFFFFF
		font-family $bold
		font-size 22px
		margin-top 20px
		text-decoration none
#participantes
	background-color #02B1E0
	color #FFFFFF
	text-align center
	.js-contenido--participantes
		max-width 600px
		margin auto
		h2
			font-size 40px
			line-height 36px
			margin 20px 0
		p
			font-size 18px
			line-height 22px
	img
		width 100%
		max-width 900px
		margin 20px 0
.js-participantes
	border-top 1px solid #757575
	padding 20px 0
.js-ranking
	.js-rankin--link
		a
			&.link-middle
				padding 0 10px
				margin 0 10px
	h2
		font-family $bold
#mecanica
	text-align center
	h2
		font-size 40px
		margin 20px 0
	.js-mecanica
		flexCenter()
		justify-content center
		flex-wrap wrap
		.js-mecanica--contenido
			width 100%
			max-width 200px
			margin 25px 30px
			border 1px solid $color
			text-align center
			padding 20px
			height 200px
			border-radius 50%
			position relative
			.js-pelota
				position absolute
				bottom -15px
				left 0
				right 0
				text-align center
			h2
				margin 10px 0
				font-size 30px
			p
				line-height 20px
				span
					font-family $bold
			a
				background-color $color !important
				color #FFFFFF
				font-family $bold
				height 28px
				line-height 28px
				text-transform initial
				margin-top 10px
				text-decoration none
				border-radius 5px
#terminos
	background url(../img/fondo/fondo-terminos.jpg) no-repeat center center
	background-size cover
	height 320px
	text-align center
	color #FFFFFF
	h2
		font-size 42px
		text-shadow 2px 2px 7px rgba(0, 0, 0, 0.54)
		line-height 38px
	a
		background-color $color !important
		text-transform initial
		color #FFFFFF
		font-family $bold
		width 100%
		max-width 180px
		font-size 16px
		margin-top 20px
		border-radius 5px
		height 32px
		line-height 32px
		text-decoration none
footer
	background-color #87898B
	text-align center
	p
		color #FFFFFF
		margin 0
/*NAV-TABS*/
.nav-tabs
	border none
	&>li
		float right
		&>a
			border 2px solid transparent
			color $color
			&:hover
				border 2px solid transparent	
				border-bottom 2px solid $color
				background-color transparent
		&.active
			a
				color $color
				border 2px solid transparent
				border-bottom 2px solid $color
				font-family $bold
				&:focus
				&:hover
					color $color
					border 2px solid transparent
					border-bottom 2px solid $color
/*SCROLL*/
::-webkit-scrollbar
	width 6px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
/*TABLE*/
table
	&>tbody
		&>tr
			&>td
				color #000000
				padding 5px 10px !important
				line-height 16px !important
	&>thead
		&>tr
			&>th
				color #000000
/*MODAL*/
.modal
	&.fade
		.modal-dialog
			position absolute
			top 50%
			left 50%
			transform()
		&.in
			.modal-dialog
				opacity 1
				scale()
				transform()
/*MATERIAL DESIGN*/
.mdl-card
	width 100%
	.mdl-card__title
		display block
		h2
			color #757575
			margin 0
			font-size 26px
			line-height 26px
	.mdl-card__supporting-text
		width 100%
		h2
			margin 20px 0
			text-align center
			color #000000
		small
			font-size 16px
			line-height 16px
	.mdl-card__actions
		text-align right
		padding 16px
		button
			margin 5px
@media ( max-width: 768px )
	.js-partidos
		flex-wrap wrap
		box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		margin 15px 0
		padding 10px 15px
		border none
		padding-bottom 25px
		.js-partidos__fecha
			max-width 100%
			padding-bottom 10px
			text-align center
		.js-partidos__versus
			max-width 100%
		.js-partidos__empate
			max-width 100%
			padding 5px 0
		.js-partidos__puntaje
		.js-partidos__score
			padding 5px 10px
		.js-partidos__puntaje
			position absolute
			bottom 0
			text-align right
			right 0
		.js-partidos__score
			position absolute
			left 0
			bottom 0
			text-align left
@media ( max-width: 600px )
	.js-container
		align-items center
	.js-fondo 
		.js-logo 
			img
				max-width 150px
				margin-top 45px
		&.concurso
			height 600px
			padding 0 20px
			.js-logo 
				img
					max-width 150px
			.js-contenido--ganadores
			.js-contenido--concurso 
				p
					font-size 28px
					line-height 26px
@media ( max-width: 480px )
	.js-partidos
		.js-partidos__versus 
			.js-partido__versus--flag
				padding 0 5px
		.mdl-radio__label
			font-size 14px
			line-height 16px !important
	.js-score
		display block
		.js-score__user
			justify-content center
			border none
			border-bottom 2px solid #FFFFFF
		.js-score__monto
			justify-content center
	.js-container--title
		h2
			text-align center
	.js-header
		padding 10px 
		.js-header--right 
			a
				&.link-middle
					padding-right 0
					margin-right 0
					border-right none					